<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{pipe}}</mat-card-title>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-card-header>
  <app-chart [data]="data$ | async">
  </app-chart>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onUpdate()">Update</button>
  </mat-card-actions>
</mat-card>
<mat-menu #menu="matMenu">
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
</mat-menu>